:root{
  --color-background:#0f0f0f;
  --color-primary:#cc4455;
  --color-text:#f2f2f2;

}



/* / - Quem Somos */

.pesquisa__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;

}

.pesquisa__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa__img img{

  max-width: 100%;
}

@media (max-width: 720px) {
  .pesquisa__container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}